html {
    background: #1488cc; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #1488cc, #2b32b2);*/
    background: linear-gradient(to right, #34a8ec, #2b32b2);
    text-align: center;
}
h1 {
    text-shadow: 0px 5px 0px #777,
                 0px 12px 10px rgba(0,0,0,0.5),
                 0px 15px 2px rgba(0,0,0,0.1),
                 0px 20px 30px rgba(0,0,0,0.1);
    color: #ddd;
    font-family: monospace;
    font-size: 10em;
    margin-bottom: 32px;
    margin-top: 48px;
}
ol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
  padding: 0;
}
li {
  list-style: none;
}
li a {
    background: -webkit-linear-gradient(#000, #555);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-family: sans-serif;
    display:inline-block;
    font-weight: 100;
    font-weight: 800;
    text-decoration: none;
}
h7 {
    color: #eee;
    font-family: sans-serif;
    font-size: 1.2em;
    opacity: 0.5;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bbb;
    color: #555;
    text-align: center;
}
.last {
    color: #222;
    font-family: monospace;
    text-decoration: underline;
    font-size: 1.5em;
}
.manual {
    color: darkblue;
    font-size: .8em;
}